/* Projects section style */
.projects{
    display: flex;
    justify-content: center;
}

.projects_content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 200px;
}

.skills{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.work{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    border-left: 3px solid rgb(255, 194, 209);
    padding-left: 10px;
}


.zoom:hover{
    transform: scale(1.5);
}